head
  title #{title} | Unidad de Búsqueda de Personas dadas por Desaparecidas
  meta(name="title" content=`${title} | Unidad de Búsqueda de Personas dadas por Desaparecidas`)
  <meta name="description" content="Conoce en este especial el detrás de cámaras de los primeros cinco años de la Unidad de Búsqueda de Personas dadas por Desaparecidas (UBPD).">
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, minimum-scale=1, maximum-scale=3, initial-scale=1, user-scalable=yes')
  //- Fuentes
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato:wght@300;400;700;900&family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet")
  link(rel='stylesheet', href='https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/css/styles.css')
  //- link(rel='stylesheet', href='../css/styles.css')
  link(rel="icon" href="https://ubpdbusquedadesaparecidos.co/wp-content/uploads/2019/03/cropped-icon-1-32x32.png")
  link(rel="canonical" href=cardurl)
  //- OG y TW
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@UBPDcolombia">
  meta(name="twitter:title" content=cardtitle)
  <meta name="twitter:description" content="Conoce en este especial el detrás de cámaras de los primeros cinco años de la Unidad de Búsqueda de Personas dadas por Desaparecidas (UBPD).">
  meta(name="twitter:url" content=cardurl)
  <meta property="og:type" content="website">
  meta(property="og:url" content=cardurl)
  meta(property="og:title" content=cardtitle)
  <meta property="og:description" content="Conoce en este especial el detrás de cámaras de los primeros cinco años de la Unidad de Búsqueda de Personas dadas por Desaparecidas (UBPD).">
  <meta name="twitter:image:width" content="1280">
  <meta name="twitter:image:height" content="649">
  meta( name="twitter:image" content=`https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/${cardimageurl}`)
  meta( property="og:image" content=`https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/${cardimageurl}`)
  meta(property="og:image:url" content=`https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/${cardimageurl}`)
  meta(property="og:image:secure_url" content=`https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/${cardimageurl}`)
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="649">
  meta(name="twitter:gallery:image0" content=`https://ubpdbusquedadesaparecidos.co/wp-content/especiales/5anosubpd/assets/${cardimageurl}`)
  //- Analytics 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136097740-1"></script>
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-136097740-1');